@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oiiiiiiiiiii</h1>
    <p>Eu atualizo esse site poucas vezes por ano e ainda não adicionei uma home de verdade!!!</p>
</div>
